<!DOCTYPE html>
{% extends "Appcoder/Base.html" %}
{% load static %}

{% block section1 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> <p style="background-color:burlywood"><font size="10">Buen dia a todos</font></p>
<body> <p style="background-color: beige;"
   <br><p style="background-color: beige;"><font size="6">aca aparecen los entregables</font></p> 


    <p>
        {% for n in notas %}
            {%if n < 4%}
                <p style="color:red"> Nota Mala {{n}}</p>
            {% else %} <p style="color:green">Nota Buena {{n}}</p> 
            {%endif%}
        {%endfor%}
    <p>
</body>
</html>
{% endblock section1 %}